
@font-face {
  font-family: "t4font";
  src: url('t4font.eot?t=1704898064291'); /* IE9*/
  src: url('t4font.eot?t=1704898064291#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("t4font.woff2?t=1704898064291") format("woff2"),
  url("t4font.woff?t=1704898064291") format("woff"),
  url('t4font.ttf?t=1704898064291') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('t4font.svg?t=1704898064291#t4font') format('svg'); /* iOS 4.1- */
}

[class^="t4font-"], [class*=" t4font-"] {
  font-family: 't4font' !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.t4font-ic-sun:before { content: "\ea01"; }
.t4font-ic-tour:before { content: "\ea02"; }
.t4font-ic-user-group-1:before { content: "\ea03"; }
.t4font-ic-user-group:before { content: "\ea04"; }
.t4font-ic-user:before { content: "\ea05"; }
.t4font-mingcute_apple-fill:before { content: "\ea06"; }

  